.wrapper {
  border: 1px solid #bababa;
  border-radius: 5px;
  color: #a4a4a4;
  text-decoration: none;
  display: flex;
  height: 35px;
  background-color: white;
  margin-top: 5px;

  .image__container {
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    margin-bottom: 4px;
    margin-left: 8px;
  }

  .text {
    font-size: 16px;
    margin: 10px 7px;
    align-self: center;
  }

  .arrow__container {
    background-image: url("../../../icons/arrow-right-add.png");
    width: 16px;
    height: 16px;
    align-self: center;
    margin-bottom: 2px;
    color: white;
    margin-right: 10px;
  }
}
