.column__container {
  background-color: #e7e7e7;
  width: 127px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;

  p {
    margin: 0;
    padding: 0;
  }
}

.grid__day {
  height: 52px;
  background-color: #ffffff;
  border-bottom: 2px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__meal {
  height: 92px;
  border-bottom: 2px solid #bababa;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__carb {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__training {
  height: 35px;
  border-top: 2px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
}
