.column__container {
  background-color: #e7e7e7;
  width: 127px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;

  p {
    margin: 0;
  }
}

.grid__day {
  height: 52.4px;
  background-color: #ffffff;
  border-bottom: 2px solid #bababa;
}
.grid__meal {
  height: 93.3px;
  border-bottom: 2px solid #bababa;
  background-color: #ffffff;
}
.grid__carb {
  height: 35px;
}
.grid__training {
  border-top: 2px solid #bababa;
  height: 37px;
}
