.column__container {
  background-color: #e7e7e7;
  width: 128px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  border-right: 2px solid #bababa;
  font-family: Arial, Helvetica, sans-serif;

  h2 {
    font-size: 28px;
    color: #c3cd4d;
  }

  p {
    margin: 10px;
    padding: 0;
    text-align: start;
  }

  .checkCircle {
    width: 15px;
    margin: 7px 4px 0 0;
  }
}

.grid__day {
  height: 52px;
  background-color: #ffffff;
  border-bottom: 2px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__meal {
  height: 92px;
  border-bottom: 2px solid #bababa;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  p {
    margin: 10px;
    padding: 0;
    width: 60%;
  }
}
.grid__meal__noBorder {
  height: 92px;
  border-bottom: 2px solid #e7e7e7;
  background-color: #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  p {
    margin: 10px;
    padding: 0;
    width: 60%;
  }
}

.grid__carb {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid__training {
  height: 35px;
  border-top: 2px solid #bababa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check {
  margin-left: 10px;
  width: 15px;
}
