.column__container {
  background-color: #e7e7e7;
  width: 127px;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
  border-radius: 10px 0 0 10px;

  p {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.grid__day {
  height: 52px;
  border-bottom: 2px solid #e7e7e7;
}
.grid__meal {
  height: 92px;
  border-bottom: 2px solid #bababa;
  display: flex;
  align-items: center;
}

.grid__mealSpecial {
  height: 92px;
  border-bottom: 2px solid #e7e7e7;
  display: flex;
  align-items: center;
}

.grid__carb {
  height: 35px;
}
.grid__training {
  height: 35px;
  border-top: 2px solid #bababa;
  display: flex;
  align-items: center;
}
