.week__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 10px;

  div {
    width: 12px;
    height: 12px;
  }

  p {
    text-align: center;
  }
}
